// darkerBrown = #4D360D
// gold = #A48221

// Upper Nav: Avenir Book, 14
// Nav: Avenir Heavy, 16px
// Heading: Avenir Black 40px
// Subheading: Avenir Light 18px, line height 24
// Paragraph: Avenir Light 16px, line height 22
// Button: Avenir Black 16px,  padding 9?
// Footer: Avenir Medium 16px


@import "variables";
@import "mixins";

// ALL PAGES

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: none;
}

body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%;
}

section{
  height: auto;
}

.section-white-border{
  margin: 2%;
  padding: 7% 0;
}

.container{
  padding-left: 20%;
  padding-right: 20%;
}

.inner-hero{
  height: 75vh;
  text-align: left;
  color: white;
}

// GENERAL ELEMENTS

img{
  width: 100%;
  height: auto;
}

.btn{
  padding: 9px;
  color: white;
  background-color:$gold;
  text-decoration: none; 
}

.btn:hover{
  border: 1px solid $gold;
  background: transparent;
  color: $gold;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

h6{
  font-size: 12px;
  line-height: 24px;
  font-weight: 100;
}

p{
  line-height: 22px;
  font-weight: 300;
}

.white-line{
  width: 17%;
  border-bottom: 1px solid white;
}

.gold-line{
  width: 17%;
  border-bottom: 1px solid $gold;
}

.right{
  float: right;
}
.left{
  float: left;
}

.flex-wrapper{
  display: flex;
  justify-content: space-between;
}




// NAV
#upper-nav{
  background-color: $darkerBrown;
  color: $gold;
  font-size: 14px;
  font-weight: light;
  padding: 1% 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

nav{
  background-image: url("../images/nav-bg.png");
  color: white;
  padding-top: 0;
  padding-bottom: 1%;
  #hamburger{
    visibility: hidden;
    transform: rotate(90deg);
  }
  ul{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    font-size: 16px;
  }
  a:hover{
    color: $darkerBrown;
  }
}

// HOMEPAGE

.hero{
  height: 80vh;
  background-image: url("../images/home-hero.png");
  @include fullBg;
}

#info{
  background-image: url("../images/info.png");
  @include fullBg();
  position: relative;
  h1{
    padding-top: 20%;
  }
  h3{
    padding-top: 5%;
    padding-bottom: 10%;
  }
  a{
    margin-top: 5%;
    padding-left: 36px;
    padding-right: 36px;
  }
  .white-line{
    padding-top: 14%;
  }
  
  
}

#about{
  display: relative;
  align-items: center;
  border: 2px solid $gold;

  .container{
    display: flex;
    flex-grow: 1;
    align-items: center;
    text-align: right;
  }
  .info-text{
    
    margin-right: 3%;
  }
  h1{
    color: $gold;
  }

}

#services{
  @include goldBg;
  @include fullBg;
  .white-line{
    transform: rotate(90deg);
    transform-origin: center;
  }
  h2{
    color: $gold;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .service-box{
   margin: 0 2%;
   width: 28%;
  }

  image{
    margin-bottom: 0px;
    width: 100%;
  }
  .service-description{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    margin: 0 3%;
    position: relative;
    top: -4px;
    height: 60%;
    padding:10% 0;
  }
  h2{
    margin: 10% 0;
  }
  p{
    margin: 0 5%;
  }
  a{
    margin: 0 auto;
    width: 80%;
  }
  
}

#testimonials{
  border: 1px solid $gold;
  h1{
    color: $gold;
    padding-bottom: 3%;
  }
  .container{
    position: relative;
  }
  .wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .item{
    text-align: left;
    width: 80%;
    img{
      width: 80%;
    }
  }
  h2{
    color: $gold;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .owl-dots{
    display: none;
  }
  .owl-prev, .owl-next{
    color: $gold;
    font-size: 20em;
    font-weight: 100;
    position: absolute;
    top: 0;
    margin-top: -100px;
  }
  .owl-prev {
    left: 0px;
  }
  .owl-next {
    right: 0px;
  }





 

  
  
}

// CONTACT FORM

#contact{
  margin-top: 10%;
  margin-bottom: 15%;
  h1{
    color: $gold;
    padding-bottom: 5%;
  }
  input{
    padding: 10px;
    width: 30%;
    margin: 1%;
    border: 2px solid $gold;
  }
  textarea{
    display: block;
    margin: 1% auto;
    width: 95%;
    padding: 10px;
    border: 2px solid $gold;
  }
  .btn{
   display: block;
   width: 100%;
   margin: 0 auto;
   padding: 1%;
   font-size: 16px;
  }
  button:hover{
    border: 2px solid $gold;
  }
  .submit-button{
    border: 2px solid $gold;
    width: 95%;
    margin: 0 auto;
    padding: 1%;
  }
  .gold-line{
    padding-top: 10%;
  }
  ::placeholder{
    font-size: 16px;
    font-weight: 100;
  }
}

// FOOTER

footer{
  color: white;
  background-color: $darkerBrown;
  font-weight: 100;
  padding: 10px 0;
  ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 10%;
  }
  li{
    list-style: none;
    margin-right: 10px;
  }




}

// ABOUT PAGE

#about-hero{
  background-image: url("../images/about-hero.png");
  @include fullBg();
  .container{
    display: flex;
    padding-top: 5%;
    img{
      width: 90%;
    }
  }
  .about-content{
    margin-left: 5%;
    @include flexColumnCenter;
  }

  .white-line{
    transform: rotate(90deg);
    transform-origin: left;
    width: 12%;
  }
  .flex-wrapper{
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 10%;
  }
  
}

// CONTACT PAGE

#contact-hero{
  @include goldBg;
  @include fullBg();
  .container{
    display: flex;
    img{
      margin-top: 5%;
      max-height: 450px;
      max-width: 450px;
    }
  }

  .about-content{
    @include flexColumnCenter;
  }
}

// SERVICES PAGE

#services-page-hero{
  background-image: url("../images/services-hero.png");
  @include fullBg;
  text-align: left;
  height: 70vh;
  @include flexColumnCenter;
  .container{
    width: 65%;
  }
}

#service-page-second-section{
  @include goldBg;
  @include fullBg;
  text-align: left;
  .container{
    display: flex;
  }
}

#service-page-right-content{
  @include flexColumnCenter;
  width: 70%;
}

#service-page-third-section{
  background-image: url("../images/service-bottom-banner.png");
  @include fullBg;
  @include flexColumnCenter;
  height: 70vh;
  text-align: left;
}

// ARTICLES

#articles-page{
  text-align: left;
  display: flex;
  justify-content: space-between;
  .article-wrapper{
    width: 70%;
  }
  .blog-preview{
    margin: 10% 0;
  }
  
  .sidebar{
    margin-top: 10%;
    width: 25%;
  }
  .sidebar-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    .blog-thumb{
      width: 100px;
      height: auto;
    }
  }
}


// POST
#post-title{
  margin: 5% 0;
}

.featured-image{
  margin: 5% 0;
}

#post-content{
  text-align: left;
  margin: 5% 10%;
}


@import "mobile";
@import "tablet";