@mixin fullBg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin goldBg{
  position: relative;
  background-image: url("../images/gold-texture.png");
}