// Upper Nav: Avenir Book, 14
// Nav: Avenir Heavy, 16px
// Heading: Avenir Black 40px
// Subheading: Avenir Light 18px, line height 24
// Paragraph: Avenir Light 16px, line height 22
// Button: Avenir Black 16px,  padding 9?
// Footer: Avenir Medium 16px


// Mobile Phones & Tablets
@media (max-width: 768px){

  h1{
    font-size: 35px;
  }

  .hidden{
    display: none;
  }

  #upper-nav{
    display: none;
  }

  #main-logo{
    font-size: 18px;
  }


  nav{
    padding: 10px 0 0 0;
    margin: 0px;
    .container{
      width: 100%;
      padding: 0;
      margin: 0;
    }
    h1{
      display: inline-block;
      margin-bottom: 5px;
    }
    #hamburger{
      visibility: visible;
      float: left;
      margin-left: 20px;
    }
    #hamburger:hover{
      cursor: pointer;
    }
    ul{
      display: block;
      background: $gold;
      font-size: 12px;
      text-align: left;
      width: 100%;
    }
    li{
      border-bottom: 1px solid lighten($gold, 10%);
      padding: 5px;
    }
    li:last-child{
      border-bottom: none;
    }
  }

  .hero{
    height: 40vh;
  }

  #info{
    height: auto;
    .white-line{
      display: none;
    }
  }

  #about{
    height: auto;
    .container{
      display: block;
      text-align: center;
    }
    p{
      margin: 10px 0;
    }
    img{
      margin: 10px 0;
    }
  }

  #services{
    height: auto;
    .container{
      display: block;
    }

    .service-box{
      margin: 15% 2%;
      width: 100%;
      p{
        margin-bottom: 15%;
      }
     }

     .service-description{
       margin: 0;
     }
 
    .white-line{
      display: none;
    }
  }

  #testimonials{
    height: auto;
  }

  #contact{
    height: auto;
    h1{
      margin-bottom: 10%;
    }
    input{
      width: 95%;
    }
    .gold-line{
      display: none;
    }
  }






}

