* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%; }

.section-white-border {
  margin: 2%;
  padding: 7% 0; }

.container {
  padding-left: 20%;
  padding-right: 20%; }

.inner-hero {
  height: 75vh;
  text-align: left;
  color: white; }

img {
  width: 100%;
  height: auto; }

.btn {
  padding: 9px;
  color: white;
  background-color: #A48221;
  text-decoration: none; }

.btn:hover {
  border: 1px solid #A48221;
  background: transparent;
  color: #A48221; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300; }

h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 100; }

p {
  line-height: 22px;
  font-weight: 300;
  font-size: 16px; }

.white-line {
  width: 17%;
  border-bottom: 1px solid white; }

.gold-line {
  width: 17%;
  border-bottom: 1px solid #A48221; }

.right {
  float: right; }

.left {
  float: left; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#upper-nav {
  background-color: #4D360D;
  color: #A48221;
  font-size: 14px;
  font-weight: light;
  padding: 1% 0; }
  #upper-nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

nav {
  background-image: url("../images/nav-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 0;
  padding-bottom: 1%; }
  nav #hamburger {
    visibility: hidden;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15%; }
  nav li {
    list-style: none; }
  nav a {
    text-decoration: none;
    color: white;
    margin-left: 5%;
    font-size: 16px; }
  nav a:hover {
    color: #4D360D; }

.hero {
  height: 80vh;
  background-image: url("../images/home-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

#info {
  background-image: url("../images/info.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative; }
  #info h1 {
    padding-top: 20%; }
  #info h3 {
    padding-top: 5%;
    padding-bottom: 10%; }
  #info a {
    margin-top: 5%;
    padding-left: 36px;
    padding-right: 36px; }
  #info .white-line {
    padding-top: 14%; }

#about {
  display: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #A48221; }
  #about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right; }
  #about .info-text {
    margin-right: 3%; }
  #about h1 {
    color: #A48221; }

#services {
  position: relative;
  background-image: url("../images/gold-texture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  #services .white-line {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }
  #services h2 {
    color: #A48221; }
  #services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  #services .service-box {
    margin: 0 2%;
    width: 28%; }
  #services image {
    margin-bottom: 0px;
    width: 100%; }
  #services .service-description {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: white;
    margin: 0 3%;
    position: relative;
    top: -4px;
    height: 60%;
    padding: 10% 0; }
  #services p {
    margin: 0 5%; }
  #services a {
    margin: 0 auto; }
  #services .btn {
    padding: 8px 8px; }

#testimonials {
  border: 1px solid #A48221; }
  #testimonials h1 {
    color: #A48221;
    padding-bottom: 3%; }
  #testimonials .item {
    text-align: left;
    width: 80%; }
    #testimonials .item img {
      width: 80%; }
  #testimonials h2 {
    color: #A48221;
    margin-top: 10%;
    margin-bottom: 5%; }
  #testimonials .owl-wrapper {
    margin: 0 5%; }
  #testimonials .owl-carousel {
    padding-left: 10%;
    padding-right: 10%; }
  #testimonials .owl-stage-outer {
    padding-left: 6%; }
  #testimonials .owl-dots {
    display: none; }
  #testimonials .owl-prev, #testimonials .owl-next {
    color: #A48221;
    font-size: 20em;
    font-weight: 100;
    position: absolute;
    top: 0;
    margin-top: -100px; }
  #testimonials .owl-prev {
    left: 0px; }
  #testimonials .owl-next {
    right: 0px; }

#contact {
  margin-top: 10%;
  margin-bottom: 15%; }
  #contact h1 {
    color: #A48221;
    padding-bottom: 5%; }
  #contact input {
    padding: 10px;
    width: 30%;
    margin: 1%;
    border: 2px solid #A48221; }
  #contact textarea {
    display: block;
    margin: 1% auto;
    width: 95%;
    padding: 10px;
    border: 2px solid #A48221; }
  #contact .btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1%;
    font-size: 16px; }
  #contact button:hover {
    border: 2px solid #A48221; }
  #contact .submit-button {
    border: 2px solid #A48221;
    width: 95%;
    margin: 0 auto;
    padding: 1%; }
  #contact .gold-line {
    padding-top: 10%; }
  #contact ::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 100; }
  #contact :-ms-input-placeholder {
    font-size: 14px;
    font-weight: 100; }
  #contact ::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 100; }
  #contact ::placeholder {
    font-size: 14px;
    font-weight: 100; }

footer {
  color: white;
  background-color: #4D360D;
  font-weight: 100;
  padding: 10px 0; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 10%; }
  footer li {
    list-style: none;
    margin-right: 10px; }

#about-hero {
  background-image: url("../images/about-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  #about-hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5%; }
    #about-hero .container img {
      width: 90%; }
  #about-hero .about-content {
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #about-hero #meet-cindy {
    text-align: right; }
  #about-hero .white-line {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    width: 12%; }
  #about-hero .flex-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 10%; }

#services-page-hero {
  background-image: url("../images/services-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: left;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #services-page-hero .container {
    width: 65%; }

#service-page-second-section {
  position: relative;
  background-image: url("../images/gold-texture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: left; }
  #service-page-second-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

#service-page-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70%; }

#service-page-third-section {
  background-image: url("../images/service-bottom-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70vh;
  text-align: left; }

#articles-page {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #articles-page .article-wrapper {
    width: 70%; }
  #articles-page .blog-preview {
    margin: 10% 0; }
    #articles-page .blog-preview p {
      margin: 1% 0; }
  #articles-page .read-more {
    font-size: 14px;
    font-weight: 600; }
  #articles-page .sidebar {
    margin-top: 10%;
    width: 25%; }
    #articles-page .sidebar h3 {
      font-size: 14px;
      font-weight: 600; }
  #articles-page #sidebar-title {
    font-size: 12px; }
  #articles-page .sidebar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5%; }
    #articles-page .sidebar-item .blog-thumb {
      width: 100px;
      height: auto; }

#post-title {
  margin: 5% 0; }

.featured-image {
  margin: 5% 0; }

#post-content {
  text-align: left;
  margin: 5% 10%; }

#contact-hero {
  position: relative;
  background-image: url("../images/gold-texture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: auto; }
  #contact-hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #contact-hero .container img {
      max-height: 500px;
      max-width: 500px; }
  #contact-hero .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media (max-width: 768px) {
  h1 {
    font-size: 35px; }
  .hidden {
    display: block; }
  #upper-nav {
    display: none; }
  #main-logo {
    font-size: 18px; }
  nav {
    padding: 10px 0 0 0;
    margin: 0px; }
    nav .container {
      width: 100%;
      padding: 0;
      margin: 0; }
    nav h1 {
      display: inline-block;
      margin-bottom: 5px; }
    nav #hamburger {
      visibility: visible;
      float: left;
      margin-left: 20px; }
    nav #hamburger:hover {
      cursor: pointer; }
    nav ul {
      display: none;
      background: #A48221;
      font-size: 12px;
      text-align: left;
      width: 100%; }
    nav li {
      border-bottom: 1px solid #cea42a;
      padding: 5px; }
    nav li:last-child {
      border-bottom: none; }
  .hero {
    height: 40vh; }
  #info {
    height: auto; }
    #info .white-line {
      display: none; }
  #about {
    height: auto; }
    #about .container {
      display: block;
      text-align: center; }
    #about p {
      margin: 10px 0; }
    #about img {
      margin: 10px 0; }
  #services {
    height: auto; }
    #services .container {
      display: block; }
    #services .service-box {
      margin: 15% 2%;
      width: 100%; }
      #services .service-box p {
        margin-bottom: 15%; }
    #services .service-description {
      margin: 0; }
    #services .white-line {
      display: none; }
  #testimonials {
    height: auto; }
  #contact {
    height: auto; }
    #contact h1 {
      margin-bottom: 10%; }
    #contact input {
      width: 95%; }
    #contact .gold-line {
      display: none; }
  #about-hero .container {
    display: block;
    padding-top: 5%;
    text-align: center; }
    #about-hero .container img {
      width: 50%; }
  #services-page-hero {
    text-align: center;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #services-page-hero .container {
      width: 100%; }
  #service-page-second-section {
    text-align: left; }
    #service-page-second-section img {
      display: none; }
    #service-page-second-section .container {
      display: block; }
  #service-page-right-content {
    display: block;
    width: 100%; }
    #service-page-right-content h1 {
      padding-bottom: 5%; }
  #service-page-third-section {
    padding: 10% 0;
    height: auto;
    text-align: left; }
  #contact-hero {
    margin: 0;
    text-align: center;
    height: auto; }
    #contact-hero .container {
      display: block; }
      #contact-hero .container img {
        display: none; }
    #contact-hero .about-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  #articles-page .article-wrapper {
    width: 90%; }
  #articles-page .sidebar {
    display: none; } }
